{% extends 'base.html' %}
{% block content %}


    <div class="wrap">


        <h2>Epilogue </h2>
        <hr>
        <p>

        <h1>{{ status }}</h1>

        {% if session['riddle_solved'] == 'Solved' %}
            <p><img src="{{ url_for('static', filename='img/pexel_chessboard.jpg') }}" alt="Well done"></p>
            <p> Your instinct was right. Looking in the drawers from the chessboard table reveals a little paper packet
                - in which there is a pendant. The pendant
                has a
                picture of the man on the left, and the woman on the right. </p>
            <p>You nod, pleased: "This is what the riddle meant by <em>carrying the picture of her with him.</em> Mrs
                Thomas would have been delighted to find this." </p>
            <p>You invite the McMillans in to show them your find. They are charmed and touched by the almost
                century-old gesture.
                Ruffling further into the
                pile of newspapers on the bookshelves, you notice that Mr Thomas was a journalist who wrote primarily
                about chess
                events and
                distinguished players, such as Mrs Vera Menchik. This passion of the game was certainly shared by his
                wife, as the picture on the
                wall show
                them playing together.
            </p>
            <p> Your help is no longer needed here and you feel confident you will be called again, when a new puzzle is
                found.</p>
            <h1>Thank you for playing!</h1>
            <h3><a href="{{ url_for('leaderboard') }}">Have a look at your progress.</a></h3>

        {% elif session['riddle_solved'] == 'Unsolved' %}

            <h2>Where is the 'treasure' hidden?</h2>

            <form method="POST" action="{{ url_for('final') }}" name="final_answer">
                Attempt #{{ attempts }}: <input type="text" name="answer_to_riddle">
                <input type="submit" class="btns">
            </form>
            <p>You frantically look in all the nooks and cracks of the house, but you only move dust around. Montaguë
                looks disappointed and barks sadly.</p>
            <p>Sorry, your answer : "{{ answer_to_riddle }}" is incorrect. Try again!
                We are looking for <strong>two words</strong> separated by a space, containing only letters from the
                alphabet - no special characters.</p>

            <p>You should probably go back and have another look.</p>
            <h3><a href="{{ url_for('play') }}">Start over</a></h3>

        {% else %}

            <h2>Where is the 'treasure' hidden?</h2>

            <form method="POST" action="{{ url_for('final') }}" name="final_answer">
                Attempt #{{ attempts }}: <input type="text" name="answer_to_riddle">
                <input type="submit" class="btns">
            </form>
        {% endif %}


    </div>


{% endblock %}


