{% extends 'base.html' %}
{% block content %}


    <div class="wrap">


        <h1> FINAL </h1>
        <p>
        <h2>What was the riddle referring to?</h2>

        <form method="POST" action="{{ url_for('final') }}" name="final_answer">
            Attempt #{{ attempts }}: <input type="text" name="answer_to_riddle">
            <input type="submit">
        </form>
        <h1>{{ status }}</h1>

        {% if session['riddle_solved'] == 'Solved' %}
            <p>Last blurb:(missing queen piece on the chessboard)
                (looking under the chessboard reveals a little paper packet - in which there is a pendant. The pendant
                has a
                picture of the man on the left, and the woman on the right). </p>
            <p>if correct: final text A</p>
        {% elif session['riddle_solved'] == 'Unsolved' %}
            <p>Sorry, your answer : "{{ answer_to_riddle }}" is incorrect. Try again!
            We are looking for a single word, containing only letters from the alphabet - no special characters.</p>
            <p>You should probably go back and have another look.</p>
            <p>if wrong: final text b</p>
            <p><h3><a href="{{ url_for('play') }}">Start over</a></h3></p>
        {% endif %}

        <p>Validation: Conversion to lowercase + possible answers</p>


    </div>


{% endblock %}


