{% extends 'base.html' %}
{% block content %}


<div class="wrap">


<h1> FINAL </h1>
    <p>
<h2>What was the riddle referring to?</h2>

        {% if attempts == 1 %}
        <p>I think I know where the secret surprise is hidden. It is: </p>
            <form method="POST" name="final_answer">
            Attempt #{{ attempts }}: <input type="text" name="answer_to_riddle">
            <input type="submit">
        </form>
        {% elif attempts < 3 %}
        <p>Sorry, {{ answer_to_riddle }} is incorrect. Try again!</p>

        <form method="POST" name="final_answer">
            Attempt #{{ attempts }}: <input type="text" name="answer_to_riddle">
            <input type="submit">
        </form>
            {% else %}
        <p>Go back and take another look.</p>
        {% endif %}
<h1>{{ status }}</h1>
    <p>Validation: Conversion to lowercase + possible answers</p>
<p>if correct: final text A</p>
<p>if wrong: final text b</p>
</div>


{% endblock %}


