{% extends 'base.html' %}
{% block content %}


<div class="wrap">
       <p>// internal check to see if right or wrong</p>
        <p> //if wrong:
            <strong> WANT AN EXTRA CLUE?</strong> or 'RUN AWAAAAY' (record current score)</p>

        <p>
            //if right:
            <strong>CONTINUE FURTHER INTO THE SPOOKY HOUSE</strong></p>
{#     <form action="{{ url_for('logged') }}">#}
{#       <p><label for="username">Username: </label>#}
{#        <input type="text" name="username"></p> <p>#}
{#        <label for="color">Favorite color: </label>#}
{#        <input type="text" name="color"></p>#}
{#         <p>#}
{#        <label for="mystical">Something mystical: </label>#}
{#        <input type="text" name="mystical"></p>#}
{#        <input type="submit" value="Submit!">#}
{#    </form>#}



</div>

{% endblock %}


