{% extends 'base.html' %}
{% block content %}


<div class="wrap">


<h1> PART2</h1>

    TEXT
    (grandfather clock in the corner of the room)
    (various books regarding chess)
    (clipping regarding Vera Menchik)
(portrait of the couple in their wedding garb over the bed)
 <form name="part2" action="{{ url_for('part3') }}">
            <input type="submit" name="part2_opt1" value="Do Something Else">
        </form>
  <hr>
        <button id="btn_riddle" class="btns">Toggle the riddle</button>
        <div class="riddle">
            <h4>
                I left you a surprise, my love, to find when you miss me. My obligations won't keep me away
                from you too long, I dare hope. You will find a treasure where:
                <strong>
                    <ul>
                        <li>Time stops for our battles of wit.</li>
                        <li>White clad or not, you are a queen.</li>
                        <li>You inspire my every action.</li>
                        <li>I move brazenly towards you.</li>
                        <li>But you know how to stop my foolish plans.</li>
                        <li>I kneel in front of your beauty.</li>
                        <li>And carry the image of you with me.</li>
                    </ul>
                </strong>
            </h4>
        </div>
</div>

{% endblock %}


