{% extends 'base.html' %} {% block content %}

    <div id="intro" class="wrap">
        <h1>Introduction</h1>
{#        <button id="btn_p_one" class="btns">Paragraph One</button>#}
{#        <button id="btn_p_two" class="btns">Paragraph Two</button>#}
{#        <button id="btn_riddle" class="btns">Riddle</button>#}
        <hr>
        <div id="paragraph_one">
            <h2>"Thanks again, dear {{ username }}!"</h2>
            <p> You see a neighbour waving from the street. You just helped her find her son's rattle under a pile of dead leaves.</p>
            <p>You are the best investigator in town. You have solved more cases than you can even count - maths was
                never your forte anyways. Your trusty {{ color }} umbrella in hand, you have braved spittle and deluge
                whenever called. Really, you would be
                right in thinking that you have been a {{ mystical }} for everyone troubled by an unexpected puzzle in
                this particular part of the world.</p>
        </div>

        <div id="paragraph_two">
            <p>One day, you're approached by a couple who you have known all your life. They ask you for help regarding
                the most unusual of situations.</p>
            <p> They have inherited a little cottage in the countryside from relatives. It looks a little spooky and
                dusty, but nonetheless quite charming. The previous owners have left furniture and decorations intact.
                It looks like a scene straight out of the
                early 20th century.</p>
            <p>When the couple entered the cottage to tidy it up, their big dog Montague bumped into the mantelpiece and
                made a vase fall down. Inside it was a note: </p>
        </div>

        <div id="riddle">
            <h3>
                I left you a surprise, my love, to find when you miss me. My obligations won't keep me away
                from you too long, I dare hope. You will find a treasure where:
                <strong>
                    <ul>
                        <li>Time stops for our battles of wit.</li>
                        <li>White clad or not, you are a queen.</li>
                        <li>You inspire my every action.</li>
                        <li>I move brazenly towards you.</li>
                        <li>But you know how to stop my foolish plans.</li>
                        <li>I kneel in front of your beauty.</li>
                        <li>And carry the image of you with me.</li>
                    </ul>
                </strong>
            </h3>
        </div>
        <p class="next_action">
            You decide to help them with the riddle and tag along to look at the house.
        <form class="next_action" action="{{ url_for('part1') }}">
            <input type="submit" value="Let's go!">
        </form>
        </p>
    </div>


{% endblock %}