{% extends 'base.html' %} {% block content %}

    <div id="intro" class="wrap">
        <h1>Introduction</h1>
        <hr>
        <div id="paragraph_one">
            <h2>"Thanks again, dear {{ username }}!"</h2>
            <p> You see your neighbour waving from the street. You just helped her find her son's rattle under a pile of
                twigs.</p>
            <p>In the neighbourhood, you are known for your inquisitive mind and problem-solving skills. You have
                uncovered more local mysteries than you can count (maths was
                never your forte anyways). You are not a professional, but you could be, if you worked up the courage to
                apply for a permit. You know investigating is not a glamorous endeavour. Your trusty
                <strong>{{ color }} </strong> umbrella
                in hand, you have braved spittle and deluge, dark basements and smelly back alleys
                whenever called for help. Really, it would be
                right in calling you a <strong>{{ mystical }}</strong> among civilians, such is your talent and
                dedication to puzzles. But to switch career from a gardener to a proper gumshoe...</p>
        </div>

        <div id="paragraph_two">
            <p>One sunny day, while you are artfully pruning a shrub in front of your house, you are approached by an
                elderly couple, friends from your parents. They have heard of your prowess and ask you for help
                regarding
                the most unusual of situations.</p>
            <p> They have inherited a little cottage in the countryside from relatives. Beside being a little spooky and
                dusty, it is quite charming and the couple wishes to use it as a summer house. </p>
            <p>Recently, the couple entered the cottage to tidy it up. The previous residents have left furniture and
                decorations intact.
                It looked like a scene straight out of the
                early 20th century. As they walked in, their big dog Montague bumped into the mantelpiece and
                made a vase fall down. Within its debris, there was a note: </p>
        </div>

        <div id="riddle">
            <h3>
                I left you a surprise, my love, to find when you miss me. My obligations won't keep me away
                from you too long, I dare hope. You will find a treasure where:
                <strong>
                    <ul>
                        <li>Time stops for our battles of wit.</li>
                        <li>White clad or not, you are a queen.</li>
                        <li>You inspire my every action.</li>
                        <li>I move brazenly towards you.</li>
                        <li>But you know how to stop my foolish plans.</li>
                        <li>I kneel in front of your beauty.</li>
                        <li>And carry the image of you with me.</li>
                    </ul>
                </strong>
            </h3>
        </div>
        <p class="next_action">
            You decide to help them with the riddle and tag along to look at the house.
        <form class="next_action" action="{{ url_for('part1') }}">
            <input type="submit" value="Let's go!">
        </form>
        </p>
    </div>


{% endblock %}