{% extends 'base.html' %} {% block content %}

    <div id="intro" class="wrap">
        <h1>Introduction</h1>
        <hr>
        <div id="paragraph_one">
            <h2>"Thanks again, dear {{ username }}!"</h2>
            <p> You see your neighbour waving from the street. You just helped her find her son's rattle under a pile of
                twigs.</p>
            <p>In the neighbourhood, you are well known for your gardening know-how and inquisitive mind. You have
                uncovered more local mysteries than you can count -- maths was
                never your forte anyways. You are not a private investigator, but you could be, you think. </p>

            <p>You will eventually summon up the courage to
                apply for a license. You have learned by now that investigating is not a glamorous endeavour. Your
                trusty
                <strong>{{ color }} </strong> umbrella
                in hand, you have braved spittle and deluge, dark basements and smelly back alleys
                whenever called for assistance.
            </p>
            <p>Really, your nickname as the <strong>{{ mystical }}</strong> of your
                neighborhood is justified, such is your dedication to puzzles. But... to switch career from a gardener
                to a proper PI, to have your own agency and wear a fedora all day... You can only dream.</p>
        </div>
        <img src="{{ url_for('static', filename='img/pattern2.png') }}" style="width: 20%"
             alt="cute little intermission">
        <div id="paragraph_two">
            <p>One sunny day, while you are artfully pruning a shrub in front of your house, you are approached by an
                elderly couple, Greta and Paul McMillan, friends of your parents. They have heard of your investigative
                talent and ask you for help
                regarding
                the most unusual of situations.</p>
            <p> They have inherited a little cottage in the countryside from relatives. Beside being a little spooky and
                dusty, it is quite charming and the couple wishes to use it as a summer house. </p>
            <p>Recently, the McMillans went into the cottage to tidy it up. It looked like a scene straight out of the
                early 20th century; the previous house owners had left furniture and
                decorations intact.
                As the McMillans walked in, their big dog Montaguë bumped into the dining table, from which a vase fell
                down. Within its debris, there was a note: </p>
        </div>

        <div class="riddle" style="display:block;">
 My obligations won't keep me away
                from you too long, I dare hope. I left a treasure for you to find, my love, if you come to miss me.  It is hidden where:

                    <ul>
                        <li>Time stops for our battles of wit.</li>
                        <li>White clad or not, you are a queen.</li>
                        <li>You inspire my every action.</li>
                        <li>I move brazenly towards you.</li>
                        <li>But you know how to stop my foolish plans.</li>
                        <li>I kneel in front of your beauty.</li>
                        <li>And carry the image of you with me.</li>
                    </ul>
        </div>
        <p>
            The McMillans ask for your help deciphering the poem. You decide to help them with the riddle and tag along
            to look at the house.
        </p>
        <form action="{{ url_for('part1') }}">
            <input type="submit" class="start btns" value="You begin your investigation.">
        </form>

    </div>


{% endblock %}