/* typography */
@import url('https://fonts.googleapis.com/css?family=Alegreya:700,900|Open+Sans:400,700');

h1, h2, h3, h4, a, .btns, .riddle {
    font-family: 'Alegreya';
    font-weight:900;
}

h1, h2 {
    letter-spacing: 0.1em;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

h2, h4, h6 {
    margin-bottom: 0;
}

h4 {
    display: inline-block;
}

h6 {
    color: rgb(121, 184, 255);
    margin-top: 7px;
}

a, a:visited, a:focus {
    color: #778866;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
color:#000064;
    text-decoration: underline wavy #7599C4;
}

p, li {
    font-size: 1.125em;
    line-height: calc(1.5em + .2vw);
    margin: 22px auto;
}

nav {
    text-align: center;
    font-size: 1.2em;
}

.leaderboard_entry span {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.center {
    text-align: center;
}

/* overall page styling */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* General body styling */
body {
    margin: 0;
    background: radial-gradient(circle, rgba(192, 158, 121, 0.07) 70%, rgba(192, 158, 121, 0.4)), url("/static/img/pexel_cottage.jpg") fixed bottom;
    font-family: 'Open Sans';
}

.container {

    max-width:700px;
    height: 88vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
}

.wrap {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    background: radial-gradient(circle, rgb(245, 245, 245) 90%, rgba(192, 158, 121, 0.02))
}

.wrap ul, .wrap ul li, .navigation ul, .navigation ul li {
    padding: 5px;
    list-style: none;
}

.selected {
    background: radial-gradient(circle, rgba(192, 158, 121, 0.07) 50%, rgba(14, 113, 73, 0.4));
}

.border {
    border: 6px double #7599C4;
    padding: 10px;
}

/* ENDbody */

/* Navigation */
.navigation {
    display: flex;
    background-color: #F5F5F5;
}

.navigation > a {
    width: 100px;
    margin: 10px auto;
    font-weight: bold;
}

.big-screen{
    display:none;
}
/* ENDNavigation */

/* images */
.wrap img {
    max-width: 60%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ENDimages */
/* Riddle */
.riddle {
    font-size: 1.07em;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px dotted #7599C4;
    background-color: rgba(174, 208, 157, 0.11);
}

.riddle, .chest, .tablecloth, .under_the_bed, .missing,
.dining, .picture_couple, .painting_check, .room_view,
.chessboard, .bookshelf, .clock_view,
.paintings, .clock_inside {
    display: none;
}


/* ENDRiddle */
/* Buttons*/

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.wrap li button {
    background-color: #fff;
}

.btns, input {

    display: block;
    width: 70%;
    padding: 0 15px;
    margin: 10px auto;
    line-height: 34px;
    word-wrap: normal;
    font-weight: bold;
    text-transform: uppercase;
    white-space: pre-wrap;

}
.btns{
    background-color: #aed09d;
    border-bottom: 2px solid #778866;
    border-top:none;
    border-left:none;
    border-right:none;
}

.btns:hover {
    letter-spacing: 0.1em;
    background: linear-gradient(rgba(223, 220, 211, 0.047), rgba(223, 220, 211, 0.047));
}

.game_info {
    max-width: 200px;
}

.game-info:hover{
    text-decoration: none;
}

.game_info--last {
    margin-bottom: 20px;
}

.start {
    margin-bottom: 15px;
    border: 4px double #778866;
}

#btn_riddle {
    background-color: #5599ff;
    color: white;
    margin-bottom: 10px;
    font-weight:700;
    text-shadow: -1px 0 2px #000064, 0 1px 2px #000064, 1px 0  2px #000064, 0 -1px 2px #000064;
    border-bottom: 4px solid #79b8ff;
}

/* ENDButtons */

/* Leaderboard */
.leaderboard_entry {
    background-color: #F5F5F5;
    text-align: center;
    border: 3px double #ccc5b3;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.leaderboard_top {
    background-color: rgba(187, 153, 170, 0.27);
}

/* ENDLeaderboard */

/* Media Queries*/
@media only screen and (min-width: 768px) {
    .paintings img {
        display: inline-block;
        max-width: 30%;
    }

    .room_view img {
        display: inline-block;
        max-width: 49%;
        margin: auto;
    }
    .sm-screen{
        display:none;
    }
    .big-screen{
        display:block;
    }
    .wrap {
        max-width: 700px;
    }

}

@media only screen and (min-width: 992px) {
    .leaderboard_entry {
        width: 66%;
    }

}

/* ENDMedia Queries*/
