/* typography */
@import url('https://fonts.googleapis.com/css?family=Asul|Open+Sans:400,700');

h1, h2, h3, h4, a, .btns, .riddle {
    font-family: 'Asul';
}

h1, h2, a {
    letter-spacing: 0.1em;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

h2, h4, h6 {
    margin-bottom: 0;
}

h4 {
    display: inline-block;
}

h6 {
    color: rgba(111, 103, 94, 0.37);
    margin-top: 7px;
}

a, a:visited, a:focus {
    color: #0e7149;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    border-left: 1px solid #dc143c;
    background-image: linear-gradient(to bottom, rgba(255, 227, 230, 0.2), rgba(225, 166, 166, 0.13));
}

p {
    font-size: 1.125rem;
    line-height: 1.8;
}

nav {
    text-align: center;
    font-size: 1.2em;
}

.leaderboard_entry span {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.center {
    text-align: center;
}

/* overall page styling */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* General body styling */
body {
    margin: 0;
    background: radial-gradient(circle, rgba(192, 158, 121, 0.07) 70%, rgba(192, 158, 121, 0.4)), url("/static/img/pexel_cottage.jpg") fixed bottom;
    font-family: 'Open Sans';
}

.container {
    border-bottom: 4px solid #F5F5F5;
    width: 85vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
}

.wrap {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.938);
}

.wrap ul, .wrap ul li, .navigation ul, .navigation ul li {
    padding: 5px;
    list-style: none;
}

.lace {
    background: radial-gradient(circle, rgba(192, 158, 121, 0.07) 70%, rgba(207, 119, 62, 0.4)), url("/static/img/pattern2.png") fixed bottom;
}

.border {
    border: 6px double #0e7149;
    padding: 10px;
}

/* ENDbody */
/* images */
.wrap img {
    max-width: 60%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ENDimages */
.riddle {
    font-size: 1.07em;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px dotted #0e7149;
    background-color: rgba(174, 208, 157, 0.11);
}

.riddle, .chest, .tablecloth, .under_the_bed, .missing, .dining, .picture_couple, .painting_check, .room_view, .chessboard, .bookshelf, .clock_view, .paintings, .clock_inside {
    display: none;
}

/* Navigation */
.navigation {
    display: flex;
    background-color: #F5F5F5;
    border-bottom: 4px solid #0e7149;
}

.navigation > a {
    width: 90px;
    margin: 10px auto;
    font-weight: bold;
}

/* Buttons*/

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrap li button {
    background-color: #fff;
}

.btns, input {

    display: block;
    border: 1px solid #6f675e;
    width: 70%;
    padding: 0 15px;
    margin: 10px auto;
    line-height: 34px;
    word-wrap: normal;
    font-weight: bold;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    text-transform: uppercase;
    white-space: pre-wrap;
}

.btns:hover {
    color: #f76072;
    background: linear-gradient(rgba(223, 220, 211, 0.047), rgba(223, 220, 211, 0.047));
}

.game_info {
    max-width: 200px;
}

.game_info--last {
    margin-bottom: 20px;
}

.start {
    margin-bottom: 15px;
    border: 4px solid #DC143C;
}

#btn_riddle {
    background-color: #dc143c;
    color: white;
    margin-bottom: 10px;
    text-shadow: -1px 0 #dc143c, 0 1px #dc143c, 1px 0 #dc143c, 0 -1px #dc143c;
}

/* ENDButtons */
/* Leaderboard */
.leaderboard_entry {
    background-color: #F5F5F5;
    text-align: center;
    border: 3px double #ccc5b3;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.leaderboard_top {
    background-color: rgb(255, 184, 190);
}

/* ENDLeaderboard */
/* Media Queries*/
@media only screen and (min-width: 768px) {
    .paintings img {
        display: inline-block;
        max-width: 30%;
    }

    .room_view img {
        display: inline-block;
        max-width: 49%;
        margin: auto;
    }

    .wrap {
        max-width: 700px;
    }

}

@media only screen and (min-width: 992px) {
    .leaderboard_entry {
        width: 66%;
    }

}

/* ENDMedia Queries*/
