{% extends 'base.html' %}
{% block content %}
    <div class="wrap    ">

        <div id="rules"><h2>Rules</h2>


            <p>The story has three 'chapters' in which you, the <strong>INVESTIGATOR</strong>, can look around the
                house.
                You can click the buttons and read the story up until the last page, where your answer to the <strong>RIDDLE</strong>
                is requested.</p>
            <p>When prompted for input, provide only alphanumeric characters to answer the questions (no emojis or gifs,
                thank you).</p>
            <p>You can access the story through the index page and the game information page. Your progress is displayed
                on the leaderboard page.</p>

        </div>

        <div id="about"><h2>About</h2>
            <p>
                In a nutshell: this is a short story where you get to look around an old house, take your time to enjoy
                it! I suggest you put on to classical or lo-fi music
                to enhance your reading experience.

            </p>
            <p class="border">
                This is an online <strong>gamebook</strong> (or hypertext fictional story) inspired by the
                concept of 'choose your own adventure' classics. You call a gamebook a story that is written from a
                second-person point of view, with the reader assuming the role of the
                protagonist and making choices that determine the main character's actions and the plot's outcome. Hypertext fiction is the equivalent in electronic literature.
            </p>
            <p>There are many great printed and online stories you can find on all subjects.</p></div>
        <div id="contact"><h2>Contact</h2>
            <p>
                You can reach me at this email address: vero@nuagesdencre.com.
            </p>
        </div>

    </div>
{% endblock %}