{% extends 'base.html' %}
{% block content %}
    <div class="wrap    ">

        <div id="rules"><h1>Rules</h1><p>
            The story has three 'chapters' in which you, the INVESTIGATOR, can look around the house.
            You can click the buttons and read the story up until the last page, where your answer to the RIDDLE is requested.
            When prompted for input, provide only alphanumeric characters to answer the questions (no emojis or gifs, thank you!)
        </p></div>

        <div id="about"><h2>About</h2>
                <p>
            This is a short story, take your time to enjoy it.

        </p></div>
        <div id="contact"><h2>Contact</h2>
        You can reach me at this email address: vero@nagesdencre.com.</div>

    </div>
{% endblock %}