{% extends 'base.html' %}
{% block content %}
    <div class="wrap">

        <div id="rules"><h1 style="color:red">Rules</h1><p>
            Provide information when requested.
            Use only alphanumeric characters to answer the questions (no emojis or gifs, thank you!)
        </p></div>

        <div id="about"><h2 style="color:red">About</h2>
                <p>
            This is a short story, take your time to enjoy it.
        </p></div>
        <div id="contact"><h2 style="color:red">Contact</h2>
        You can reach me here.</div>

    </div>
{% endblock %}