{% extends 'base.html' %}
{% block content %}

<div class="wrap center lace">
    <h2>Game information</h2>
    <p>
            <select name="options"
                    onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="" disabled="disabled" selected="selected">Insert coin</option>
                <option value="{{ url_for('play') }}">Play</option>
                <option value="{{ url_for('leaderboard') }}">Leaderboard</option>
                <option value="{{ url_for('about') }}">Rules</option>
            </select></p>
</div>
{% endblock %}