{% extends 'base.html' %} {% block content %}
    <div class="wrap center lace">
        <h1>A Curious Cottage</h1>

        <h2> Welcome, {{ username }}!</h2>
        {% if session['username'] %}
            <h4> Click <a href="{{ url_for('play') }}">here</a> to continue to play.</h4>

            <p> Oh, you're someone else?</p>
            <form action="{{ url_for('drop') }}">
                <input type="submit" class="btns" value=" Come on, then.">
            </form>
        {% else %}
            <p>Come along.</p>
            <form action="{{ url_for('play') }}">
                <input type="submit" class="btns" value="Let's get to it!">
            </form>
        {% endif %}


    </div>
{% endblock %}