{% extends 'base.html' %}
{% block content %}


    <div>
        {% filter upper %}
            <p>Leaderboard</p>
        {% endfilter %}

        # username, umbrella color, has a secret tattoo of, riddle solved, timestamp in/out
        # username, color, mystical_beast, riddle_solved, (duration)
        <table>
            <th>Username</th>
            <th>Owns ____ underwear</th>
            <th>Has a secret tattoo of</th>
            <th>Riddle status</th>
            <th>Time Start</th>
            <th>Time End</th>
            <tr>
                <td>{{ username }}</td>
                <td>{{ color }}</td>
                <td>{{ mystical }}</td>
                <td>{{ riddle_solved }}</td>
                <td>{{ time_start }}</td>
                <td>{{ time_stop }}</td>
            </tr>
            <tr>
                <td>AAA</td>
                <td>Blue</td>
                <td>Toad</td>
                <td>Unsolved</td>
                <td>10:11</td>
                <td>10:22</td>
            </tr>
            <tr>
                <td>BBB</td>
                <td>Yellow</td>
                <td>Unicorn</td>
                <td>Unsolved</td>
                <td>10:11</td>
                <td>10:22</td>
            </tr>
            <tr>
                <td>CCC</td>
                <td>Red</td>
                <td>Dragon</td>
                <td>Unsolved</td>
                <td>12:11</td>
                <td>16:22</td>
            </tr>
            <tr>
                <td>AAA</td>
                <td>Blue</td>
                <td>Selkie</td>
                <td>Solved</td>
                <td>13:11</td>
                <td>13:22</td>
            </tr>
        </table>
    </div>

{% endblock %}