{% extends 'base.html' %}
{% block content %}


    <div class="wrap center">
        <p>Please introduce yourself.</p>
        <form method="POST" action="{{ url_for('story') }}">
            {% if session['username'] %}
                <h2> Username: {{ session['username'] }}</h2>
            {% else %}
                <p><label id="username">What is your name? </label>
                <input pattern=".{3,}" type="text" name="username" required title="3 characters minimum">
            {% endif %}
            </p>
            <p>
                <label id="color">Tell me, what is your favourite colour? </label>
                <input pattern=".{3,}" type="text" name="color" required title="3 characters minimum"></p>
            <p>
                <label id="mystical">What would be your spirit animal? </label>
                <input pattern=".{3,}" type="text" name="mystical" required title="3 characters minimum"></p>
            <input type="submit" class="btns" value="Let's get right to it!">
        </form>

    </div>

{% endblock %}


